
<nav class="navbar">
  <a class="logo" href="#">
    <img src="assets/gaminglogo.png" >
  </a>
  <div class="title">
  <h2>Bienvenue dans la GAMING ROOM 🕹</h2>
</div>
  <h3 id="connexion">Se connecter / S'inscrire</h3>
</nav>

<div class="d-flex justify-content-center mx-3">
  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <button type="button" class="btn btn-info">Info</button>
</div>
