<nav class="navbar">
  <a class="logo" href="#">
    <img src="assets/gaminglogo.png" >
  </a>
  <h3 id="connexion">Se connecter / S'inscrire</h3>
</nav>


<div class="title">
  <h2>Bienvenu dans la GAMING ROOM 🕹</h2>
</div>

<button class="btn btn-primary">Mon bouton Bootstrap</button>
